<section class="comments-wrap" aria-label="Comment section">
  <h2 class="comments-wrap__title">Comments</h2>
  <p class="comments-wrap__description">Comments require GitHub sign-in.</p>

  <div class="comments-wrap__public">
    <script
      src="https://utteranc.es/client.js"
      repo="guseoh/guseoh.github.io"
      issue-term="pathname"
      label="comment"
      theme="github-light"
      crossorigin="anonymous"
      async
    ></script>
  </div>
</section>
